<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Products</a></li>
        		<li><a href="/blog">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:rashmiprakash@gmail.com">email</a></li>
        		<li><a href="https://github.com/git4putuval/ashmayu">ashmayu</a></li>
			</ul>
		</footer>
	</body>
</html>
